.add-task-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border-radius: 8px;
}

.close-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #1e293b;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s;
}

.close-btn:hover {
  opacity: 0.6;
  color: #47636f;
}

.add-task-modal {
  border-radius: 16px;
  background: white;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  z-index: 10000;
  transform: none !important;
}

.div-task-create {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px;
}

.modal-input-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #2f4156;
  border: none;
  border: 1px solid #2f4156;
  border-radius: 8px;
  padding: 5px;
  background-color: #c8d9e6;
}

.modal-input-desc {
  min-height: 80px;
  width: 248px;
  background-color: #c8d9e6;
  border: 1px solid #47636f;
  border-radius: 8px;
  padding: 8px;
  resize: none;
  font-size: medium;
  color: #2f4156;
}

.modal-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c8d9e6;
  padding: 12px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.modal-header p {
  font-size: 24px;
  color: #2f4156;
}

.titel-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1e293b;
  font-size: 24px;
}

.modal-row {
  display: flex;
  justify-content: start;
  align-items: start;
  color: #1e293b;
  font-size: 24px;
  gap: 20px;
}

.dropdown-div {
  font-size: 1.2rem;
  font-weight: bold;
  color: #2f4156;
  border: none;
  border: 1px solid #2f4156;
  border-radius: 8px;
  padding: 5px;
  background-color: #c8d9e6;
  padding: 8px;
}

.description-div {
  display: flex;
  gap: 46px;
  font-size: 24px;
}

.btn-cancel,
.btn-save,
.add-task-btn-trigger {
  background-color: #3a4f66;
  color: #ffffff;
  font-size: 14px;
  padding: 6px 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease;
}

.btn-cancel {
  background-color: #94a3b8;
}

.add-task-btn-trigger {
  display: flex;
  gap: 2px;
  align-items: center;
}

.add-task-btn-trigger:hover,
.btn-cancel:hover,
.btn-save:hover {
  background-color: #4e739d;
  transform: translateY(-2px);
  box-shadow: 0 12px 22px rgba(0, 0, 0, 0.2);
}
